
//COLORS
$color-primary: #75dd99;    // #75dd99;
$color-primary-light: #39be96;
$color-primary-dark: #22ca92;

$color-grey-light-1: #f7f7f7;   //#f7f7f7;
$color-grey-dark-1: #333;    //#333;

$color-darker-green: #5db37b;   //#5db37b;
$color-darker-green2: #18c956;   //#18c956;



$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;


$color-grid: rgba(37, 201, 173, 0.3);
//FONT
$default-font-size: 1.6rem;


//GRID 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 6rem;

//teppan lunch and specials 25 counting 2 h2
//appetizer 10 counting h1
//deserts 4 + h1 =5
//fried rice and noodle 8 = h1=9
//